@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

dark-mode-toggle {
  --dark-mode-toggle-dark-icon: url(/assets/icon-sun.svg);
  --dark-mode-toggle-light-icon: url(/assets/icon-moon.svg);
  color: var(--choosen-scheme-text-color);
}

dark-mode-toggle:hover {
  opacity: 0.6;
}

html,
body {
  margin: 0px;
  padding: 0px;

  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono";
}

.wrapper {
  height: 70%;
}

.logo-and-theme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 730px;

  h1 {
    color: var(--logo-color);
  }
}

.search-section {
  background-color: var(--container-and-sbar-color);
  width: 730px;
  height: 70px;
  margin-block: 30px;
  border-radius: 15px;
  padding-left: 32px;
  padding-right: 10px;
  box-sizing: border-box;

  box-shadow: 0px 16px 30px -10px var(--shadow);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .search-icon {
    height: 24px;
    margin-right: 10px;
  }

  .search-text {
    border: 0px;
    outline: 0px;
    height: 25px;
    width: fill;
    background-color: var(--container-and-sbar-color);

    font-size: 18px;
    line-height: 25px;
    color: var(--text-color);
  }

  .error-text {
    color: red;
    position: absolute;
    transform: translateX(450px);
  }

  .hidden {
    display: none;
  }

  .search-button {
    width: 105px;
    height: 50px;
    background-color: var(--button-and-tag-color);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 16;
    border: 0px;
    outline: 0px;
  }

  .search-button:hover {
    cursor: pointer;
    background-color: #60abff;
  }
}

.profile-info {
  background-color: var(--container-and-sbar-color);
  display: grid;
  grid-template-columns: 25% 40% 35%;
  grid-template-rows: 20% 25% 22% 33%;
  gap: 0px 0px;
  grid-template-areas:
    "prof-pic username-date username-date"
    "prof-pic bio bio"
    "prof-pic numbers numbers"
    "prof-pic socials socials";
  width: 730px;
  height: 440px;
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px var(--shadow);

  box-sizing: border-box;
  padding: 25px;

  .pic-container {
    grid-area: prof-pic;
    display: flex;
    justify-content: center;

    .dev-pic {
      width: 117px;
      height: 117px;
      border-radius: 50%;
      margin-top: 18px;
    }
  }

  .name-date {
    grid-area: username-date;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "username username date"
      "at at date";

    h1 {
      grid-area: username;
      font-size: 26px;
      font-weight: 700;
      color: var(--numbers-and-name-color);
    }

    .tag {
      grid-area: at;
      text-decoration: none;
      color: var(--button-and-tag-color);
      position: relative;
      top: -20px;
    }
    .date-container {
      grid-area: date;
      color: var(--date-color);
      font-size: 15px;
      .date {
        position: relative;
        top: 15px;
        right: 15px;
      }
    }
  }
  .bio {
    grid-area: bio;
    color: var(--text-color);
    height: 100%;
    width: 100%;
    overflow-wrap: break-word;
    padding-right: 22px;
    padding-top: 10px;
    box-sizing: border-box;
  }

  .no-bio {
    opacity: 0.75;
  }

  .number-section {
    grid-area: numbers;
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--number-section-color);
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 80px;

    p {
      color: var(--text-color);
      margin: 0px;
    }

    span {
      font-size: 22px;
      font-weight: 700;
      color: var(--numbers-and-name-color);
    }
  }

  .socials-section {
    grid-area: socials;
    width: 100%;
    display: grid;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px 50px;

    .unavailable {
      opacity: 0.5;
      pointer-events: none;
    }

    .link-image {
      display: flex;
      align-items: center;

      a {
        margin-left: 20px;
        text-decoration: none;
        color: var(--text-color);
      }

      a:hover {
        text-decoration: underline;
      }

      img {
        filter: var(--svg-color);
      }
    }
  }
}

@media screen and(max-width:930px) {
  .wrapper {
    width: 80vw;

    .logo-and-theme {
      width: 100%;

      h1 {
        color: var(--logo-color);
      }
    }

    .search-section {
      width: 100%;

      .error-text{
          transform: translateX(0);
          right: 30%;
      }
    }

    .profile-info {
      grid-template-columns: 30% 35% 35%;
      grid-template-rows: 30% 25% 22% 33%;
      grid-template-areas:
        "prof-pic username-date username-date"
        "bio bio bio"
        "numbers numbers numbers"
        "socials socials socials";

      height: 460px;
      width: 80vw;

      .name-date {
        grid-template-rows: 33% 33% 34%;
        grid-template-areas:
          "username username username"
          "at at at"
          "date date date";

        .tag {
          position: relative;
          top: 20px;
        }

        .date-container {
          .date {
            top: 0px;
            right: 0px;
          }
        }
      }

      .pic-container {
        position: relative;
        right: 10px;
      }

      .bio {
        padding-top: 20px;
      }

      .number-section {
        margin: 0px;
        width: 100%;
      }

      .socials-section {
        margin: 0px;
        box-sizing: border-box;
        padding-bottom: 40px;
        padding-left: 10px;
        width: 100%;
      }
    }
  }
}

@media screen and(max-width:580px) {
  .wrapper {
    width: 90vw;

    .logo-and-theme {
      width: 100%;

      h1 {
        font-size: 26px;
      }
    }

    .search-section {
      width: 100%;
      height: 60px;

      .search-text {
        font-size: 13px;
      }

      .search-button {
        height: 45px;
      }

      .search-icon {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }

      .error-text{
          font-size: 13px;
      }
    }

    .profile-info {
      grid-template-columns: 30% 35% 35%;
      grid-template-rows: 20% 20% 22% 48%;
      margin-bottom: 100px;

      height: 550px;
      width: 90vw;

      .name-date {
        grid-template-rows: 33% 33% 34%;
        grid-template-areas:
          "username username username"
          "at at at"
          "date date date";

        h1 {
          font-size: 16px;
        }

        .tag {
          font-size: 13px;
          position: relative;
          top: 20px;
        }

        .date-container {
          .date {
            font-size: 13px;
            top: 0px;
            right: 0px;
          }
        }
      }

      .pic-container {
        position: relative;
        right: 10px;

        .dev-pic {
          width: 70px;
          height: 70px;
        }
      }

      .bio {
        padding-top: 20px;
        font-size: 13px;
      }

      .number-section {
        margin: 0px;
        padding: 0px;
        width: 100%;
        padding-inline: 30px;

        span {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 16px;
        }

        p {
          font-size: 11px;
        }
      }

      .socials-section {
        display: grid;
        margin-top: 30px;
        margin-bottom: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        font-size: 13px;
        img {
          height: 20px;
          width: auto;
        }
      }
    }
  }
}
